  <div class="card mb-3" style="max-width: 1000px;">
      <h5  routerLink="/cars"  [class]="getAllCarsClass()">Tüm Araçlar</h5>
      <div class="row g-0" *ngFor="let carDetail of carDetails | carPipe:carText" >
        <div>
          <h5 class="text-primary" style="padding: 10px"><b>{{carDetail.brandName}} {{carDetail.carName}}</b></h5>
          <img src="{{imageBasePath}}{{carDetail.imagePath}}" alt="thumbnail" width="920" height="500" style="padding: 10px">
          <div class="card-body" width="800" height="600">
            <h5 class="card-title">{{carDetail.brandName}} {{carDetail.carName}}</h5>
            <p class="card-text"> {{carDetail.description}}</p>
            <p class="card-text"><small class="text-muted"><ul class="list-group list-group-flush">
              <li class="list-group-item">Renk: {{carDetail.colorName}} </li>
              <li class="list-group-item">Model: {{carDetail.modelYear}}</li>
              <b><li class="list-group-item">Günlük Fiyat: <h3>{{carDetail.dailyPrice}}  ₺</h3></li></b>
              
              <button type="button" (click)= "setCurrentCar(car)"
              routerLink="/payment/carId" class="btn btn-danger">Kirala</button>
            </ul></small></p>
          </div>
        </div>
        
         
        
      </div>
    </div>