<div class="row">
    <h5 class="col-md-6">Marka Listesi</h5>
    <div class="col-md-6">
        <button style="float:right;" class="btn btn-success col-md-2"  routerLink="/brandsAdd/add" >Marka Ekle </button><br>
    </div><br>
</div>
<table  class="table">
    <thead>
        <tr>
            <th>Marka Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="list-group">
            <th (click)="setCurrentBrand(brand)"
            routerLink="brands/{{brand.brandId}}"
            *ngFor="let brand of brands" >{{brand.brandName}}
                <br><button type="button" class="btn btn-success" routerLink="/brandsUpdate/update/{{brand.brandId}}">Güncelle</button></th>
             </tr>
    </tbody>    
</table>
