<div class="row align-items-start">
 <div class="col">
  <select class="form-select" aria-label="Modeller">
    <option selected>Model seçiniz..</option>
    <option *ngFor="let car of cars" value="1">{{car.brandName}}</option>
  </select>
 </div>
 <div class="col" >
  <select class="form-select" aria-label="Modeller">
    <option selected>Renk seçiniz..</option>
    <option *ngFor="let car of cars" value="1">{{car.colorName}}</option>
  </select>
 </div><br><br>
 <div class="mb-3">
  <input type="text" [(ngModel)]="carText" class="form-control" id="carText" placeholder="Arama ifadesi giriniz.">
 </div>
</div>

<table *ngIf="dataLoaded==true" class="table">
 
    <thead>
        <tr>
            <th>No</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Renk</th>
            <th>Açıklama</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyat</th>
        </tr>
    </thead><tbody>
    <tr  (click)="setCurrentCar(car)" *ngFor="let car of cars | carPipe:carText"> 
        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.description}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}  ₺</td>
        <td>
          <button type="button" class="btn btn-success"  routerLink="/cars/brand/{{car.brandId}}" >Detay</button>
        </td>
        <td>
          <button type="button" class="btn btn-success" routerLink="/carsUpdate/update/{{car.carId}}">Güncelle</button>
        </td>
        
    </tr></tbody>
  
</table>
